@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root{
	/* font sizes*/
	--font-size-heading:2.25rem;
	--font-size-body: 1.25rem;
	--font-size-body-2: 1rem;
	--font-size-listItem: 0.875rem;

	/* colors*/
	--gold: #F5C044;
	--green: #4CA154;
	--black: #18181B;
	--gray: #52525A;
	--light-gray: #D4D4D8;
	--white: #FFF;
	--light-white: #FAFAF9;
}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}

body{
	font-family: "Sora", sans-serif;
	color: var(--gray);
	line-height: 1.5rem;
	font-size: var(--font-size-body);
	background-color: var(--light-white);
}

.mb-1{
	margin-bottom: 1rem;
}

.lh-2_2{
	line-height: 2.2rem;
}


.container{
	padding: 6rem 25px;
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}

.container > section:first-child{
	margin-bottom: 3.6rem;
	
}

.star{
	display: inline-flex;
	padding: 11px;
	background-color: var(--gold);
	border-radius: 50%;
	margin-bottom: 1.8rem;
}

.h1{
	font-size: var(--font-size-heading);
	color: var(--black);
	margin-bottom: 1.3rem;
}

.list{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.list li {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: var(--font-size-listItem);
	margin-bottom: 0.9rem;
}

.cards{
	display: flex;
	flex-direction: column;
	row-gap: 2.5rem;
}

.card{
	padding: 30px 40px;
	width: 360px;
	background-color: var(--white);
	border-radius: 15px;
}

[data-brand="google"]{
	align-self: flex-end;
}

.card-header{
	display: flex;
	margin-bottom: 1rem;
	gap: 1rem;
}

.card-logo{
	width: 90px;
}

.stars-rating{
	display: flex;
}

.card-content{
	font-size: var(--font-size-body-2);
}

.reviewer-name{
	font-weight: 700;
	color: var(--black);
	margin-bottom: 0.5rem;
}


@media screen and (min-width: 1280px){
	.container{
		max-width: 1280px;
		display: grid;
		grid-template-columns: 50% 50%;
		padding: 10rem 4.5rem;
		gap:1.5rem;
	}
}



